/**
@UCF @param {"prop":"CssAllChrome","type":"USER_SHEET","disable":true} @UCF
*/
@-moz-document regexp("^(chrome://(?!browser\/content\/browser\.|devtools\/|extensions\/)|about:downloads).*") {
    :root {
        --v-content-page-background-image: none;
        background-color: light-dark(var(--color-white), var(--color-black));
        color: light-dark(var(--color-black), var(--color-white));
        background-image: var(--v-content-page-background-image) !important;
        background-position: center bottom !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        /** background-color **/
        --background-color-box: light-dark(var(--color-white), var(--color-gray-80)) !important;
        --background-color-critical: light-dark(var(--color-red-0), var(--color-red-90)) !important;
        --background-color-dimmed: light-dark(color-mix(in srgb, currentColor 12%, transparent), color-mix(in srgb, currentColor 17%, transparent)) !important;
        --background-color-dimmed-further: light-dark(color-mix(in srgb, currentColor 20%, transparent), color-mix(in srgb, currentColor 14%, transparent)) !important;
        --background-color-information: light-dark(var(--color-blue-0), var(--color-blue-90)) !important;
        --background-color-overlay: var(--color-black-alpha-50) !important;
        --background-color-success: light-dark(var(--color-green-0), var(--color-green-90)) !important;
        --background-color-warning: light-dark(var(--color-yellow-0), var(--color-yellow-90)) !important;
        /** border **/
        --border-color: light-dark(var(--color-gray-30), var(--color-gray-70)) !important;
        --border-color-deemphasized: light-dark(var(--color-gray-20), var(--color-gray-70)) !important;
        --border-color-interactive: light-dark(var(--color-gray-45), var(--color-gray-70)) !important;
        --border-color-error: light-dark(var(--color-red-70), var(--color-red-20)) !important;
        --border-color-interactive-hover: var(--border-color-interactive) !important;
        --border-color-interactive-active: var(--border-color-interactive) !important;
        --border-color-interactive-disabled: var(--border-color-interactive) !important;
        --border-color-selected: var(--color-accent-primary) !important;
        --border-color-transparent: transparent !important;
        --border-radius-circle: 9999px !important;
        --border-radius-xsmall: 0px !important;
        --border-radius-small: 0px !important;
        --border-radius-medium: 0px !important;
        --border-radius-large: 0px !important;
        --border-radius-xlarge: 0px !important;
        --border-width: 1px !important;
        /** color **/
        --color-accent-attention: light-dark(oklch(73% 0.17 174), oklch(90% 0.17 174)) !important;
        --color-accent-primary: light-dark(var(--color-blue-60), var(--color-blue-50)) !important;
        --color-accent-primary-hover: light-dark(var(--color-blue-70), var(--color-blue-40)) !important;
        --color-accent-primary-active: light-dark(var(--color-blue-80), var(--color-blue-60)) !important;
        --color-accent-primary-selected: light-dark(var(--color-blue-60), var(--color-blue-50)) !important;
        --color-black: oklch(0 0 0) !important;
        --color-black-alpha-10: oklch(0 0 0 / 10%) !important;
        --color-black-alpha-20: oklch(0 0 0 / 20%) !important;
        --color-black-alpha-30: oklch(0 0 0 / 30%) !important;
        --color-black-alpha-40: oklch(0 0 0 / 40%) !important;
        --color-black-alpha-50: oklch(0 0 0 / 50%) !important;
        --color-black-alpha-60: oklch(0 0 0 / 60%) !important;
        --color-black-alpha-70: oklch(0 0 0 / 70%) !important;
        --color-black-alpha-80: oklch(0 0 0 / 80%) !important;
        --color-black-alpha-90: oklch(0 0 0 / 90%) !important;
        --color-blue-0: oklch(97% 0.05 260) !important;
        --color-blue-10: oklch(90% 0.1 260) !important;
        --color-blue-20: oklch(83% 0.2 260) !important;
        --color-blue-30: oklch(76% 0.2 260) !important;
        --color-blue-40: oklch(72% 0.2 260) !important;
        --color-blue-50: oklch(65% 0.2 260) !important;
        --color-blue-60: oklch(62% 0.2 260) !important;
        --color-blue-70: oklch(50% 0.2 260) !important;
        --color-blue-80: oklch(40% 0.2 260) !important;
        --color-blue-90: oklch(35% 0.2 260) !important;
        --color-blue-100: oklch(27% 0.1 260) !important;
        --color-blue-110: oklch(20% 0.05 260) !important;
        --color-cyan-0: oklch(97% 0.05 260) !important;
        --color-cyan-10: oklch(90% 0.1 260) !important;
        --color-cyan-20: oklch(83% 0.2 260) !important;
        --color-cyan-30: oklch(76% 0.2 260) !important;
        --color-cyan-40: oklch(72% 0.2 260) !important;
        --color-cyan-50: oklch(65% 0.2 260) !important;
        --color-cyan-60: oklch(62% 0.2 260) !important;
        --color-cyan-70: oklch(50% 0.2 260) !important;
        --color-cyan-80: oklch(40% 0.2 260) !important;
        --color-cyan-90: oklch(35% 0.2 260) !important;
        --color-cyan-100: oklch(27% 0.1 260) !important;
        --color-cyan-110: oklch(20% 0.05 260) !important;
        --color-gray-0: #fbfbfe !important;
        --color-gray-20: #f0f0f4 !important;
        --color-gray-30: #bac2ca !important;
        --color-gray-50: #bfbfc9 !important;
        --color-gray-60: #8f8f9d !important;
        --color-gray-70: #5b5b66 !important;
        --color-gray-80: #23222b !important;
        --color-gray-90: #1c1b22 !important;
        --color-gray-100: #15141a !important;
        --color-green-0: oklch(97% 0.05 145) !important;
        --color-green-10: oklch(90% 0.1 145) !important;
        --color-green-20: oklch(83% 0.14 145) !important;
        --color-green-30: oklch(76% 0.17 145) !important;
        --color-green-40: oklch(69% 0.19 145) !important;
        --color-green-50: oklch(62% 0.21 145) !important;
        --color-green-60: oklch(55% 0.21 145) !important;
        --color-green-70: oklch(48% 0.2 145) !important;
        --color-green-80: oklch(41% 0.17 145) !important;
        --color-green-90: oklch(34% 0.14 145) !important;
        --color-green-100: oklch(27% 0.1 145) !important;
        --color-green-110: oklch(20% 0.05 145) !important;
        --color-orange-0: oklch(97% 0.05 50) !important;
        --color-orange-10: oklch(90% 0.1 50) !important;
        --color-orange-20: oklch(86% 0.14 50) !important;
        --color-orange-30: oklch(79% 0.17 50) !important;
        --color-orange-40: oklch(72% 0.19 50) !important;
        --color-orange-50: oklch(65% 0.21 50) !important;
        --color-orange-60: oklch(58% 0.21 50) !important;
        --color-orange-70: oklch(48% 0.2 50) !important;
        --color-orange-80: oklch(41% 0.17 50) !important;
        --color-orange-90: oklch(34% 0.14 50) !important;
        --color-orange-100: oklch(27% 0.1 50) !important;
        --color-orange-110: oklch(20% 0.05 50) !important;
        --color-pink-0: oklch(97% 0.05 360) !important;
        --color-pink-10: oklch(90% 0.1 360) !important;
        --color-pink-20: oklch(83% 0.14 360) !important;
        --color-pink-30: oklch(76% 0.17 360) !important;
        --color-pink-40: oklch(69% 0.19 360) !important;
        --color-pink-50: oklch(62% 0.21 360) !important;
        --color-pink-60: oklch(55% 0.21 360) !important;
        --color-pink-70: oklch(48% 0.2 360) !important;
        --color-pink-80: oklch(41% 0.17 360) !important;
        --color-pink-90: oklch(34% 0.14 360) !important;
        --color-pink-100: oklch(27% 0.1 360) !important;
        --color-pink-110: oklch(20% 0.05 360) !important;
        --color-purple-0: oklch(97% 0.05 315) !important;
        --color-purple-10: oklch(90% 0.1 315) !important;
        --color-purple-20: oklch(83% 0.14 315) !important;
        --color-purple-30: oklch(76% 0.17 315) !important;
        --color-purple-40: oklch(69% 0.19 315) !important;
        --color-purple-50: oklch(62% 0.21 315) !important;
        --color-purple-60: oklch(55% 0.21 315) !important;
        --color-purple-70: oklch(48% 0.2 315) !important;
        --color-purple-80: oklch(41% 0.17 315) !important;
        --color-purple-90: oklch(34% 0.14 315) !important;
        --color-purple-100: oklch(27% 0.1 315) !important;
        --color-purple-110: oklch(20% 0.05 315) !important;
        --color-red-0: oklch(97% 0.05 15) !important;
        --color-red-10: oklch(90% 0.1 15) !important;
        --color-red-20: oklch(83% 0.14 15) !important;
        --color-red-30: oklch(76% 0.17 15) !important;
        --color-red-40: oklch(69% 0.19 15) !important;
        --color-red-50: oklch(62% 0.21 15) !important;
        --color-red-60: oklch(55% 0.21 15) !important;
        --color-red-70: oklch(48% 0.2 15) !important;
        --color-red-80: oklch(41% 0.17 15) !important;
        --color-red-90: oklch(34% 0.14 15) !important;
        --color-red-100: oklch(27% 0.1 15) !important;
        --color-red-110: oklch(20% 0.05 15) !important;
        --color-violet-0: oklch(97% 0.05 290) !important;
        --color-violet-10: oklch(90% 0.13 290) !important;
        --color-violet-20: oklch(83% 0.17 290) !important;
        --color-violet-30: oklch(76% 0.2 290) !important;
        --color-violet-40: oklch(69% 0.22 290) !important;
        --color-violet-50: oklch(62% 0.24 290) !important;
        --color-violet-60: oklch(55% 0.24 290) !important;
        --color-violet-70: oklch(48% 0.2 290) !important;
        --color-violet-80: oklch(41% 0.17 290) !important;
        --color-violet-90: oklch(34% 0.14 290) !important;
        --color-violet-100: oklch(27% 0.1 290) !important;
        --color-violet-110: oklch(20% 0.05 290) !important;
        --color-white: oklch(1 0 0) !important;
        --color-white-alpha-10: oklch(1 0 0 / 10%) !important;
        --color-white-alpha-20: oklch(1 0 0 / 20%) !important;
        --color-white-alpha-30: oklch(1 0 0 / 30%) !important;
        --color-white-alpha-40: oklch(1 0 0 / 40%) !important;
        --color-white-alpha-50: oklch(1 0 0 / 50%) !important;
        --color-white-alpha-60: oklch(1 0 0 / 60%) !important;
        --color-white-alpha-70: oklch(1 0 0 / 70%) !important;
        --color-white-alpha-80: oklch(1 0 0 / 80%) !important;
        --color-white-alpha-90: oklch(1 0 0 / 90%) !important;
        --color-yellow-0: oklch(97% 0.05 90) !important;
        --color-yellow-10: oklch(93% 0.1 90) !important;
        --color-yellow-20: oklch(86% 0.14 90) !important;
        --color-yellow-30: oklch(79% 0.2 90) !important;
        --color-yellow-40: oklch(72% 0.22 90) !important;
        --color-yellow-50: oklch(65% 0.24 90) !important;
        --color-yellow-60: oklch(58% 0.24 90) !important;
        --color-yellow-70: oklch(51% 0.23 90) !important;
        --color-yellow-80: oklch(41% 0.2 90) !important;
        --color-yellow-90: oklch(34% 0.17 90) !important;
        --color-yellow-100: oklch(27% 0.13 90) !important;
        --color-yellow-110: oklch(20% 0.08 90) !important;
        /** space **/
        --space-xxsmall: 1px !important;
        --space-xsmall: 2px !important;
        --space-small: 0.5rem !important;
        --space-medium: 0.75rem !important;
        --space-large: 1rem !important;
        --space-xlarge: 1.5rem !important;
        --space-xxlarge: 2rem !important;
        /** size **/
        --size-item-large: 24px !important;
        --size-item-small: 16px !important;
        --size-item-medium: 22px !important;
        --size-item-xsmall: 12px !important;
        --size-item-xlarge: 48px !important;
        /** input **/
        --input-search-border-radius: var(--input-text-border-radius) !important;
    }
    /** moz-toggle **/
    moz-toggle {
        --toggle-dot-background-color-on-pressed: var(--color-white) !important;
    }
    moz-page-nav {
        --page-nav-button-border-radius: 0px !important;
    }
    treechildren::-moz-tree-row {
        outline: none !important;
    }
    input:focus-visible {
        outline: 1px solid var(--color-accent-primary);
        outline-offset: -1px;
    }
}
@-moz-document url-prefix("chrome:") {
    #SiteDataSettingsDialog .contentPane+hbox[align="start"] {
        position: fixed !important;
        bottom: 10px !important;
    }
    .radio-check {
        outline: none !important;
    }
}
