/**
@UCF @param {"prop":"CssAllChrome","type":"AUTHOR_SHEET","disable":true} @UCF
@UCF @param {"prop":"CssContent","type":"AUTHOR_SHEET","disable":true} @UCF
*/
:root {
    --v-accent-primary-color: oklch(65% 0.25 260);
    --v-accent-primary-text-color: oklch(1 0 0);
}
::selection {
    background-color: var(--v-accent-primary-color);
    color: var(--v-accent-primary-text-color);
}
@-moz-document url-prefix("chrome:") {
    ::selection {
        background-color: var(--lwt-toolbar-field-highlight, var(--v-accent-primary-color)) !important;
        color: var(--lwt-toolbar-field-highlight-text, var(--v-accent-primary-text-color)) !important;
    }
}
