/**
@UCF @param {"prop":"CssChrome","type":"USER_SHEET"} @UCF
*/
:root {
    #st_toolbox {
        background-clip: border-box !important;
        background-origin: border-box !important;
        background-color: var(--toolbox-background-color, light-dark(oklch(1 0 0), oklch(0 0 0))) !important;
        background-image: image(var(--toolbar-background-color, light-dark(oklch(1 0 0 / 60%), oklch(1 0 0 / 20%)))), var(--toolbox-background-image, none) !important;
        background-position: 0% 0%, var(--toolbox-background-position, right top) !important;
        background-size: auto, var(--toolbox-background-size, auto) !important;
        background-repeat: repeat-y !important;
        background-attachment: fixed !important;
        color: var(--toolbar-text-color, inherit) !important;
        overflow: hidden !important;
        border-inline-end: 1px solid var(--chrome-content-separator-color, ThreeDShadow) !important;
        order: 0 !important;
        transition-property: margin-block, padding-inline !important;
        transition-timing-function: linear !important;
        transition-duration: .2s !important;
        transition-delay: 0s !important;
        [flex="1"] {
            flex: 1 !important;
        }
        tabs, tabpanels, tab, label {
            appearance: none !important;
            background-color: transparent !important;
            color: inherit !important;
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;
        }
        tabs {
            flex-direction: row !important;
            justify-content: start !important;
            anchor-name: --v-st-tabs-anchor !important;
            anchor-scope: --v-st-tabs-anchor !important;
            &>spacer {
                display: none !important;
            }
            tab {
                --default-focusring: none !important;
                margin: 0 !important;
                padding-inline: 6px !important;
                padding-block: 3px !important;
                outline: none !important;
                border-block: 2px solid transparent !important;
                &[image] image {
                    -moz-context-properties: fill, fill-opacity, stroke !important;
                    fill: var(--toolbarbutton-icon-fill, currentColor) !important;
                    width: 16px !important;
                    height: 16px !important;
                    margin: 0 !important;
                    padding: 0 !important;
                }
                &[label] image {
                    margin-inline-end: 2px !important;
                }
                &>.tab-middle {
                    margin: 0 !important;
                    padding: 0 !important;
                    min-height: max(20px, 1.25em) !important;
                }
                &:hover {
                    border-bottom-color: oklch(from currentColor l c h / 0.3) !important;
                }
                &[selected] {
                    border-bottom-color: oklch(from currentColor l c h / 0.8) !important;
                }
            }
            &>#st_close_button {
                position: absolute !important;
                position-anchor: --v-st-tabs-anchor !important;
                inset-inline: auto anchor(end) !important;
                inset-block: anchor(start) anchor(end) !important;
                width: anchor-size(--v-st-tabs-anchor height) !important;
                height: auto !important;
                margin: 0 !important;
                padding: 0 !important;
                background: unset !important;
                border-radius: 0px !important;
                &>image {
                    width: 20px !important;
                    height: 20px !important;
                    padding: 2px !important;
                    margin: 0 !important;
                    border-radius: var(--toolbarbutton-border-radius, 0px) !important;
                }
                &:hover>image {
                    background-color: var(--button-background-color-hover, oklch(from currentColor l c h / 0.2)) !important;
                }
                &:hover:active>image {
                    background-color: var(--button-background-color-active, oklch(from currentColor l c h / 0.1)) !important;
                }
            }
            &[lab_with_img=false] tab[image] {
                label {
                    display: none !important;
                }
                image {
                    margin-inline: 6px !important;
                }
            }
        }
        browser[id^=st_browser_] {
            color-scheme: light dark;
            background-color: var(--sidebar-background-color, var(--tabpanel-background-color, Field)) !important;
            color: var(--sidebar-text-color, FieldText) !important;
        }
    }
    #st_splitter {
        appearance: none !important;
        cursor: ew-resize;
        width: 6px !important;
        position: relative !important;
        z-index: calc(var(--browser-area-z-index-tabbox, 2) + 2) !important;
        background-color: transparent !important;
        border: none !important;
        margin: 0 !important;
        opacity: 0 !important;
        margin-inline-start: -6px !important;
        order: 0 !important;
        transition-property: margin-block !important;
        transition-timing-function: linear !important;
        transition-duration: .2s !important;
        transition-delay: 0s !important;
    }
    &[sidebar_tabs_start=false] {
        #st_toolbox {
            border-inline-start: 1px solid var(--chrome-content-separator-color, ThreeDShadow) !important;
            border-inline-end: none !important;
            order: 101 !important;
            tabs {
                justify-content: end !important;
                flex-direction: row-reverse !important;
                &>#st_close_button {
                    inset-inline: anchor(start) auto !important;
                }
            }
        }
        #st_splitter {
            margin-inline-start: 0 !important;
            margin-inline-end: -6px !important;
            order: 100 !important;
        }
    }
    #ucf-additional-vertical-container {
        &[v_vertical_bar_start=true] {
            order: 0 !important;
        }
        &[v_vertical_bar_start=false] {
            order: 102 !important;
        }
    }
    &[sidebar_tabs_auto_hide=true] {
        #st_vbox_container {
            position: relative !important;
            width: 0 !important;
            overflow: visible !important;
            transition-property: margin-block !important;
            transition-timing-function: linear !important;
            transition-duration: .2s !important;
            transition-delay: 0s !important;
            order: 0 !important;
            #st_hbox_container {
                position: absolute !important;
                z-index: calc(var(--browser-area-z-index-tabbox, 2) + 2) !important;
                pointer-events: none !important;
                inset-block: 0 !important;
                inset-inline-start: 0 !important;
                justify-content: start !important;
                margin-inline-start: calc(-1 * (var(--v-sidebar-tabs-width) - var(--v-sidebar-tabs-min-width))) !important;
                opacity: 0 !important;
                transition-property: margin-inline, opacity !important;
                transition-timing-function: linear, step-start !important;
                transition-duration: .2s, 0s !important;
                transition-delay: 0s, .2s !important;
                #st_toolbox {
                    transition-property: width !important;
                    transition-timing-function: linear !important;
                    transition-duration: .2s !important;
                    transition-delay: 0s !important;
                }
                &>:is(vbox, splitter) {
                    pointer-events: auto !important;
                }
            }
        }
        #st_splitter {
            cursor: default !important;
        }
        &[sidebar_tabs_start=false] #st_vbox_container {
            order: 100 !important;
            #st_hbox_container {
                inset-inline-start: auto !important;
                inset-inline-end: 0 !important;
                justify-content: end !important;
                margin-inline-start: 0 !important;
                margin-inline-end: calc(-1 * (var(--v-sidebar-tabs-width) - var(--v-sidebar-tabs-min-width))) !important;
            }
        }
        #st_vbox_container[sidebar_tabs_visible^=visible] {
            #st_hbox_container {
                width: var(--v-sidebar-tabs-tabpanels-width, 80vw) !important;
                margin-inline: 0 !important;
                opacity: 1 !important;
                transition-delay: 0s !important;
            }
            #st_splitter {
                cursor: ew-resize !important;
            }
        }
        &[v_vertical_bar_start=true][sidebar_tabs_start=true]:is([v_vertical_bar_visible^="visible"], [v_vertical_bar_visible^="visible"][sidebar_tabs_visible=visible]) #st_vbox_container #st_hbox_container {
            width: calc(var(--v-sidebar-tabs-tabpanels-width, 80vw) - var(--v-vertical-bar-width, 0px)) !important;
            margin-inline-start: var(--v-vertical-bar-width, 0px) !important;
            opacity: 1 !important;
            transition-delay: 0s !important;
        }
        &[v_vertical_bar_start=false][sidebar_tabs_start=false]:is([v_vertical_bar_visible^="visible"], [v_vertical_bar_visible^="visible"][sidebar_tabs_visible=visible]) #st_vbox_container #st_hbox_container {
            width: calc(var(--v-sidebar-tabs-tabpanels-width, 80vw) - var(--v-vertical-bar-width, 0px)) !important;
            margin-inline-end: var(--v-vertical-bar-width, 0px) !important;
            opacity: 1 !important;
            transition-delay: 0s !important;
        }
        &[BookmarksToolbarOverlapsBrowser] #st_vbox_container {
            margin-block-start: var(--bookmarks-toolbar-overlapping-browser-height, var(--bookmarks-toolbar-height)) !important;
        }
        &[v_top_bar_overlaps=true] #st_vbox_container {
            margin-block-start: var(--v-top-bar-overlaps) !important;
        }
        &[BookmarksToolbarOverlapsBrowser][v_top_bar_overlaps=true] #st_vbox_container {
            margin-block-start: calc(var(--bookmarks-toolbar-overlapping-browser-height, var(--bookmarks-toolbar-height)) + var(--v-top-bar-overlaps)) !important;
        }
    }
    &[sidebar_tabs_auto_hide=false] {
        &[BookmarksToolbarOverlapsBrowser] :is(#st_toolbox, #st_splitter) {
            margin-block-start: var(--bookmarks-toolbar-overlapping-browser-height, var(--bookmarks-toolbar-height)) !important;
        }
        &[v_top_bar_overlaps=true] :is(#st_toolbox, #st_splitter) {
            margin-block-start: var(--v-top-bar-overlaps) !important;
        }
        &[BookmarksToolbarOverlapsBrowser][v_top_bar_overlaps=true] :is(#st_toolbox, #st_splitter) {
            margin-block-start: calc(var(--bookmarks-toolbar-overlapping-browser-height, var(--bookmarks-toolbar-height)) + var(--v-top-bar-overlaps)) !important;
        }
        &[v_vertical_bar_start=true][sidebar_tabs_start=true][v_vertical_bar_visible^="visible"] #st_toolbox[padding_for_vbar=true] {
            padding-inline-start: var(--v-vertical-bar-width, 0px) !important;
        }
        &[v_vertical_bar_start=false][sidebar_tabs_start=false][v_vertical_bar_visible^="visible"] #st_toolbox[padding_for_vbar=true] {
            padding-inline-end: var(--v-vertical-bar-width, 0px) !important;
        }
    }
    &:is([inDOMFullscreen], [chromehidden~="extrachrome"]) :is(#st_vbox_container, #st_toolbox, #st_splitter),
    &[inFullscreen] :is(#st_vbox_container, #st_toolbox, #st_splitter)[hide_fullscreen=true] {
        visibility: collapse !important;
    }
}
