/**
@UCF @param {"prop":"CssAllChrome","type":"USER_SHEET","disable":true} @UCF
*/
@-moz-document url("chrome://browser/content/browser.xhtml") {
    :root[ucf_url^="moz-extension\://__newtabpage@vitaliy.com"] {
        #identity-box, #star-button-box, #remote-control-box {
            display: none !important;
        }
        #ucf-favicon-in-urlbar-box {
            &~:is(#tracking-protection-icon-container, #trust-icon-container) {
                display: none !important;
            }
            &~.urlbar-input-box {
                margin-inline-start: var(--identity-box-margin-inline, 4px) !important;
            }
        }
    }
    .tabbrowser-tab {
        &[ucf_url^="chrome\://browser/content/places/"] {
            .tab-icon-image {
                display: block !important;
                content: url("chrome://branding/content/icon32.png") !important;
            }
            &[ucf_url*="/bookmarksSidebar.xhtml"] .tab-label {
                visibility: hidden !important;
                &::before {
                    content: "Bookmarks";
                    display: inline-block;
                    visibility: visible;
                }
            }
            &[ucf_url*="/historySidebar.xhtml"] .tab-label {
                visibility: hidden !important;
                &::before {
                    content: "History";
                    display: inline-block;
                    visibility: visible;
                }
            }
        }
    }
}
