:root {
    font: message-box !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100% !important;
    width: 100% !important;
    --v-root-background-color: oklch(97% 0.01 285);
    --v-root-color: oklch(20% 0.01 285);
    --v-border-color: oklch(75% 0.01 285);
    --v-border-color-hover: oklch(67% 0.01 285);
    --v-border-color-active: oklch(77% 0.01 285);
    --v-warn-color: oklch(60% 0.2 57);
    --v-error-color: oklch(50% 0.3 0);
    --v-input-background-color: oklch(95% 0.01 285);
    --v-input-background-color-focus: oklch(1 0 0);
    --v-button-background-color-hover: oklch(0 0 0 / 0.1);
    --v-button-background-color-active: oklch(0 0 0 / 0.15);
    --v-accent-primary-color: oklch(62% 0.25 260);
    --v-accent-primary-color-hover: oklch(50% 0.25 260);
    --v-accent-primary-color-active: oklch(40% 0.25 260);
    --v-accent-primary-text-color: oklch(1 0 0);
    --v-scrollbar-color: var(--v-accent-primary-color) oklch(1 0 0);
    background: var(--v-root-background-color) !important;
    color: var(--v-root-color) !important;
    @media (prefers-color-scheme: dark) {
        --v-root-background-color: oklch(25% 0.02 285);
        --v-root-color: oklch(97% 0.02 285);
        --v-border-color: oklch(40% 0.01 285);
        --v-border-color-hover: oklch(48% 0.01 285);
        --v-border-color-active: oklch(38% 0.01 285);
        --v-warn-color: oklch(80% 0.2 57);
        --v-error-color: oklch(70% 0.3 0);
        --v-input-background-color: oklch(23% 0.01 285);
        --v-input-background-color-focus: oklch(23% 0.01 285);
        --v-button-background-color-hover: oklch(1 0.01 285 / 0.15);
        --v-button-background-color-active: oklch(1 0.01 285 / 0.1);
        --v-accent-primary-color: oklch(65% 0.25 260);
        --v-accent-primary-color-hover: oklch(72% 0.25 260);
        --v-accent-primary-color-active: oklch(62% 0.25 260);
        --v-scrollbar-color: var(--v-accent-primary-color) oklch(0 0 0);
    }
}
body {
    display: flex !important;
    flex-direction: column !important;
    font: inherit !important;
    margin: 0 !important;
    padding-inline: 10px !important;
    padding-block: 0 10px !important;
    background: none !important;
    color: inherit !important;
    box-sizing: border-box !important;
    &>details {
        display: flex !important;
        flex-direction: column !important;
        summary {
            display: flex !important;
            margin-inline: -10px !important;
            padding-inline: 10px !important;
            margin-block-end: -1px !important;
            &:hover {
                background-color: var(--v-button-background-color-hover) !important;
            }
            &:hover:active {
                background-color: var(--v-button-background-color-active) !important;
            }
            &>span {
                font-weight: bold !important;
                display: flex !important;
                flex: 1 !important;
                align-items: stretch !important;
                cursor: default !important;
                user-select: none !important;
                &::after {
                    content: "";
                    display: flex;
                    width: 24px !important;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 16px;
                    -moz-context-properties: fill, fill-opacity, stroke;
                    fill: currentColor;
                    background-image: url("./svg/expand.svg");
                }
            }
        }
        &[open]>summary>span::after {
            background-image: url("./svg/down.svg");
        }
    }
}
:root, body {
    scrollbar-width: thin !important;
    scrollbar-color: var(--v-scrollbar-color) !important;
}
::selection {
    background-color: var(--v-accent-primary-color) !important;
    color: var(--v-accent-primary-text-color) !important;
}
div {
    display: flex !important;
    flex-direction: column !important;
}
span {
    min-height: max(24px, 1.5em) !important;
    line-height: max(24px, 1.5em) !important;
}
pre {
    font: inherit !important;
    margin-inline: 0 !important;
    margin-block: 2px !important;
    padding: 0 !important;
}
.css, .js {
    display: flex !important;
    flex-direction: column !important;
    margin-block-end: 16px !important;
    &>span {
        display: flex !important;
        font-weight: bold !important;
        flex: 1 !important;
    }
}
.ucfinfo {
    margin: 0 !important;
    margin-block-end: 16px !important;
    &>pre {
        font-weight: bold !important;
    }
    &>span {
        font-weight: bold !important;
        flex: 1 !important;
    }
}
.listitem {
    display: list-item !important;
    list-style-type: square !important;
    list-style-position: inside !important;
}
.description {
    font-weight: normal !important;
    opacity: .8 !important;
    padding-inline-start: .25em !important;
}
input, textarea, button {
    font: inherit !important;
    box-sizing: border-box !important;
    appearance: none !important;
    border: 1px solid var(--v-border-color) !important;
    background-color: var(--v-input-background-color) !important;
    background-clip: border-box !important;
    color: inherit !important;
    padding-block: 0 !important;
    padding-inline: 2px !important;
    margin: 0 !important;
    height: auto !important;
    min-height: calc(max(22px, 1.5em) + 2px) !important;
    line-height: max(22px, 1.5em) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline: none !important;
    outline-width: 0 !important;
    resize: none !important;
    white-space: pre !important;
    scrollbar-width: none !important;
    position: relative !important;
    &:hover {
        z-index: 2 !important;
    }
    &:focus {
        z-index: 3 !important;
        border-color: var(--v-accent-primary-color) !important;
        background-color: var(--v-input-background-color-focus) !important;
    }
    &:is(button[type=button]) {
        width: 24px !important;
        padding: 0 !important;
        cursor: default !important;
        background-color: transparent !important;
        display: flex !important;
        align-items: stretch !important;
        &::before {
            content: "";
            display: flex;
            flex: 1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;
            -moz-context-properties: fill, fill-opacity, stroke;
            fill: currentColor;
        }
        &.open::before {
            background-image: url("./svg/open.svg");
        }
        &.up::before {
            background-image: url("./svg/up.svg");
        }
        &.down::before {
            background-image: url("./svg/down.svg");
        }
        &.reload::before {
            background-image: url("./svg/reload.svg");
            fill: var(--v-error-color);
        }
        &.savedetails::before,
        &.save::before {
            background-image: url("./svg/save.svg");
        }
        &.expand::before {
            background-image: url("./svg/expand.svg");
        }
        &:hover {
            background-color: var(--v-button-background-color-hover) !important;
            border-color: var(--v-border-color-hover) !important;
        }
        &:hover:active {
            background-color: var(--v-button-background-color-active) !important;
            border-color: var(--v-border-color-active) !important;
        }
    }
    &[type=checkbox] {
        min-height: 16px !important;
        height: 16px !important;
        min-width: 16px !important;
        width: 16px !important;
        padding: 0 !important;
        margin-inline-end: 4px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 16px !important;
        -moz-context-properties: fill, fill-opacity, stroke;
        fill: var(--v-accent-primary-text-color);
        &:hover {
            border-color: var(--v-border-color-hover) !important;
        }
        &:hover:active {
            border-color: var(--v-border-color-active) !important;
        }
        &:checked {
            border-color: var(--v-accent-primary-color) !important;
            background-color: var(--v-accent-primary-color) !important;
            background-image: url("./svg/checkbox.svg") !important;
            &:hover {
                border-color: var(--v-accent-primary-color-hover) !important;
                background-color: var(--v-accent-primary-color-hover) !important;
            }
            &:hover:active {
                border-color: var(--v-accent-primary-color-active) !important;
                background-color: var(--v-accent-primary-color-active) !important;
            }
        }
    }
}
.row {
    display: flex !important;
    flex-direction: row !important;
    justify-content: stretch !important;
    align-items: start !important;
    label {
        display: flex !important;
        flex-direction: row !important;
        align-self: stretch !important;
        align-items: start !important;
        user-select: none !important;
    }
    &:not(:last-of-type) {
        margin-block-end: -1px !important;
    }
    &>:is(.path, button) {
        margin-inline-end: -1px !important;
    }
    .disable {
        margin-block: calc((max(22px, 1.5em) - 14px) / 2) !important;
    }
    input[type=text], textarea {
        overflow: clip !important;
        text-overflow: ellipsis !important;
    }
    .path {
        min-width: 20rem !important;
        flex: 1 !important;
    }
    .pref {
        flex: 3 !important;
    }
    .demo {
        min-width: 0 !important;
        flex: unset !important;
        &.disable {
            pointer-events: none !important;
        }
        &.pref {
            width: 12rem !important;
        }
        &.path {
            width: 5rem !important;
        }
    }
    &[unconnected] :is(.path, .pref),
    &[noprefinfile] :is(.path, .pref),
    &[prefdifferent] :is(.path, .pref) {
        text-decoration-line: underline !important;
        text-decoration-style: solid !important;
        text-decoration-color: var(--v-warn-color) !important;
        text-decoration-thickness: 2px !important;
        text-decoration-skip-ink: none !important;
        text-underline-offset: 0px !important;
        &.pref[rows]:where(:not([rows="1"])) {
            text-decoration-line: none !important;
        }
    }
    &[unconnected] :is(.path, .pref) {
        text-decoration-line: line-through !important;
    }
    &[prefdifferent] :is(.path, .pref) {
        text-decoration-style: dashed !important;
    }
    &[rebootrequired] :is(.path, .pref) {
        outline: 2px dashed var(--v-accent-primary-color) !important;
        outline-offset: -3px !important;
    }
    &[error] :is(.path, .pref) {
        color: var(--v-error-color) !important;
        text-decoration-line: line-through !important;
        text-decoration-style: solid !important;
        text-decoration-color: var(--v-error-color) !important;
        text-decoration-thickness: 2px !important;
    }
    &[expand] {
        .expand::before {
            background-image: url("./svg/down.svg");
        }
        textarea {
            white-space: normal !important;
            overflow-y: auto !important;
            text-overflow: clip !important;
        }
    }
    &[minonedisabled=true] .disable:checked {
        background-color: transparent !important;
        fill: currentColor !important;
    }
    &[unconnected=true] .disable {
        pointer-events: none !important;
        opacity: 0 !important;
    }
    #addFile & {
        .open, .up, .down, &:not(:first-of-type) .reload {
            pointer-events: none !important;
            border-inline: none !important;
            &::before {
                display: none !important;
            }
        }
        .path {
            pointer-events: auto !important;
        }
        .disable,
        &:not(:first-of-type)> :not(.expand, .pref) {
            pointer-events: none !important;
            opacity: 0 !important;
        }
        &:first-of-type .reload::before {
            background-image: url("./svg/add.svg");
            fill: currentColor;
        }
    }
    #allFiles & {
        .up, .down {
            pointer-events: none !important;
            border-inline: none !important;
            &::before {
                display: none !important;
            }
        }
        .reload::before {
            background-image: url("./svg/del.svg");
        }
    }
}
#header {
    display: flex !important;
    flex-direction: row !important;
    align-items: end !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    position: sticky !important;
    z-index: 7 !important;
    inset-inline: 0 !important;
    inset-block-start: 0 !important;
    background: var(--v-root-background-color, Field) !important;
    color: var(--v-root-color, FieldText) !important;
    padding-block: 10px !important;
    padding-inline: 10px !important;
    margin-inline: -10px !important;
}
div.controls {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    user-select: none !important;
    align-items: center !important;
    &:not(:last-of-type) {
        margin-inline-end: 16px !important;
    }
    input[type=button] {
        color: var(--v-accent-primary-color) !important;
        font-weight: bold !important;
        background: none !important;
        border: none !important;
        border-bottom: 1px dotted !important;
        margin: 0 !important;
        padding: 0 !important;
        height: auto !important;
        min-height: max(22px, 1.5em) !important;
        line-height: max(22px, 1.5em) !important;
        outline: none !important;
        outline-width: 0 !important;
        &:not(:last-of-type) {
            margin-inline-end: 8px !important;
        }
        &:hover {
            color: var(--v-accent-primary-color-hover) !important;
            border-bottom-style: solid !important;
            background: none !important;
        }
        &:hover:active {
            color: var(--v-accent-primary-color-active) !important;
            border-bottom-style: solid !important;
            background: none !important;
        }
    }
}
