:root {
    font: message-box !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100% !important;
    width: 100% !important;
    --v-root-background-color: oklch(97% 0.01 285);
    --v-root-color: oklch(20% 0.01 285);
    --v-border-color: oklch(75% 0.01 285);
    --v-border-color-hover: oklch(67% 0.01 285);
    --v-border-color-active: oklch(77% 0.01 285);
    --v-warn-color: oklch(60% 0.2 57);
    --v-error-color: oklch(50% 0.3 0);
    --v-input-background-color: oklch(95% 0.01 285);
    --v-input-background-color-focus: oklch(1 0 0);
    --v-button-background-color-hover: oklch(0 0 0 / 0.1);
    --v-button-background-color-active: oklch(0 0 0 / 0.15);
    --v-accent-primary-color: oklch(62% 0.25 260);
    --v-accent-primary-color-hover: oklch(50% 0.25 260);
    --v-accent-primary-color-active: oklch(40% 0.25 260);
    --v-accent-primary-text-color: oklch(1 0 0);
    --v-scrollbar-color: var(--v-accent-primary-color) oklch(1 0 0);
    background: var(--v-root-background-color) !important;
    color: var(--v-root-color) !important;
    @media (prefers-color-scheme: dark) {
        --v-root-background-color: oklch(25% 0.02 285);
        --v-root-color: oklch(97% 0.02 285);
        --v-border-color: oklch(40% 0.01 285);
        --v-border-color-hover: oklch(48% 0.01 285);
        --v-border-color-active: oklch(38% 0.01 285);
        --v-warn-color: oklch(80% 0.2 57);
        --v-error-color: oklch(70% 0.3 0);
        --v-input-background-color: oklch(23% 0.01 285);
        --v-input-background-color-focus: oklch(23% 0.01 285);
        --v-button-background-color-hover: oklch(1 0.01 285 / 0.15);
        --v-button-background-color-active: oklch(1 0.01 285 / 0.1);
        --v-accent-primary-color: oklch(65% 0.25 260);
        --v-accent-primary-color-hover: oklch(72% 0.25 260);
        --v-accent-primary-color-active: oklch(62% 0.25 260);
        --v-scrollbar-color: var(--v-accent-primary-color) oklch(0 0 0);
    }
}
body {
    display: flex !important;
    flex-direction: column !important;
    font: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    align-items: center !important;
    background: none !important;
    color: inherit !important;
    box-sizing: border-box !important;
}
:root, body {
    scrollbar-width: thin !important;
    scrollbar-color: var(--v-scrollbar-color) !important;
}
::selection {
    background-color: var(--v-accent-primary-color) !important;
    color: var(--v-accent-primary-text-color) !important;
}
div {
    display: flex !important;
    flex-direction: column !important;
}
pre {
    font: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
}
input, button {
    margin: 0 !important;
    font: inherit !important;
    appearance: none !important;
    border: 1px solid var(--v-border-color) !important;
    background-color: var(--v-input-background-color) !important;
    background-clip: border-box !important;
    color: inherit !important;
    padding-block: 0 !important;
    padding-inline: 2px !important;
    height: auto !important;
    min-height: calc(max(22px, 1.5em) + 2px) !important;
    line-height: max(22px, 1.5em) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline: none !important;
    outline-width: 0 !important;
    box-sizing: border-box !important;
    white-space: pre !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    position: relative !important;
    &:hover {
        z-index: 2 !important;
    }
    &:focus {
        z-index: 3 !important;
    }
    &:disabled,
    &:disabled+span {
        opacity: .5 !important;
        pointer-events: none !important;
    }
    &[type=number] {
        appearance: textfield !important;
        width: 5em !important;
    }
    &:is(button[type=button]) {
        width: 24px !important;
        padding: 0 !important;
        cursor: default !important;
        background-color: transparent !important;
        display: flex !important;
        align-items: stretch !important;
        &::before {
            content: "";
            display: flex;
            flex: 1;
            background-image: url("./svg/choose.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;
            -moz-context-properties: fill, fill-opacity, stroke;
            fill: currentColor;
        }
        &:hover {
            background-color: var(--v-button-background-color-hover) !important;
            border-color: var(--v-border-color-hover) !important;
        }
        &:hover:active {
            background-color: var(--v-button-background-color-active) !important;
            border-color: var(--v-border-color-active) !important;
        }
    }
    &[type=text]:focus,
    &[type=number]:focus,
    &[type=checkbox]:focus {
        border-color: var(--v-accent-primary-color) !important;
        background-color: var(--v-input-background-color-focus) !important;
    }
    &[type=number]:-moz-ui-invalid {
        border-color: var(--v-error-color) !important;
    }
    &[type=checkbox] {
        min-height: 16px !important;
        height: 16px !important;
        min-width: 16px !important;
        width: 16px !important;
        padding: 0 !important;
        margin-inline-end: 4px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 16px !important;
        -moz-context-properties: fill, fill-opacity, stroke;
        fill: var(--v-accent-primary-text-color);
        &:checked {
            border-color: var(--v-accent-primary-color) !important;
            background-color: var(--v-accent-primary-color) !important;
            background-image: url("./svg/checkbox.svg") !important;
        }
    }
}
label {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    user-select: none !important;
}
fieldset {
    display: flex !important;
    flex-direction: column !important;
    border: none !important;
    margin: 0 !important;
    padding-block: 0 !important;
    padding-inline: 8px 0 !important;
}
.row {
    display: flex !important;
    flex-direction: row !important;
    align-items: start !important;
    flex-wrap: nowrap !important;
}
.rows {
    display: flex !important;
    flex-direction: row !important;
    align-items: start !important;
    flex-wrap: nowrap !important;
    &>div:not(:last-of-type) {
        padding-inline-end: 8px !important;
    }
}
.grow {
    flex: 1 !important;
    padding-inline-end: 0 !important;
}
.mblock {
    margin-block-end: -1px !important;
}
.minline {
    margin-inline-end: -1px !important;
}
span {
    min-height: max(22px, 1.5em) !important;
    line-height: max(22px, 1.5em) !important;
    user-select: none !important;
}
#content {
    padding: 10px !important;
}
#version {
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;
}
#header {
    display: flex !important;
    flex-direction: row !important;
    align-items: end !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
}
div.controls {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    user-select: none !important;
    align-items: center !important;
    &:not(:last-of-type) {
        margin-inline-end: 16px !important;
    }
    input[type=button] {
        color: var(--v-accent-primary-color) !important;
        font-weight: bold !important;
        background: none !important;
        border: none !important;
        border-bottom: 1px dotted !important;
        margin: 0 !important;
        padding: 0 !important;
        height: auto !important;
        min-height: max(22px, 1.5em) !important;
        line-height: max(22px, 1.5em) !important;
        outline: none !important;
        outline-width: 0 !important;
        &:not(:last-of-type) {
            margin-inline-end: 8px !important;
        }
        &:hover {
            color: var(--v-accent-primary-color-hover) !important;
            border-bottom-style: solid !important;
            background: none !important;
        }
        &:hover:active {
            color: var(--v-accent-primary-color-active) !important;
            border-bottom-style: solid !important;
            background: none !important;
        }
    }
}
